BTS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb29tX3V1aWQiOiJjODdiNWNmOC1lMWRmLTQyMmUtOTdkZS1hMjViNjkxNTE3YjkiLCJwYXJ0eV9pbmZvIjpbeyJpZCI6MSwiYWRkcmVzcyI6IjEwLjAuMS4yMCJ9LHsiaWQiOjIsImFkZHJlc3MiOiIxMC4wLjIuMjAifSx7ImlkIjozLCJhZGRyZXNzIjoiMTAuMC4zLjIwIn1dLCJpc3MiOiJRdWlja01QQy1CVFMiLCJzdWIiOiJiZjM0NDViZC0yZTQ5LTQ5MGQtODI4MC1hODIwMzE0OGRjNzIiLCJhdWQiOlsiaHR0cDovL2xvY2FsaG9zdDo5MDAxIiwiaHR0cDovL2xvY2FsaG9zdDo5MDAyIiwiaHR0cDovL2xvY2FsaG9zdDo5MDAzIl0sImV4cCI6OTIyMzM3MjAzNjg1NDc3NDc4NH0.ojXTq7WTtoCvEWK7WbF518gwd6zy_H9dyywEd9RWdaE
